.metals/
.bsp/
.vscode
.scala-uild/
.bloop
target
project
services_streaming_lane/app.jar
services_streaming_lane/spark-4.0.1-bin-hadoop3/
services_streaming_lane/spark-3.5.7-bin-hadoop3/
# IB Client Portal testing trust material
services_streaming_lane/ib_connector/source/ibkr_client_portal.pem
services_streaming_lane/ib_connector/source/ibkr_truststore.jks
services_streaming_lane/ib_connector/infra_dev/ibkr_client_portal.pem
services_streaming_lane/ib_connector/infra_dev/ibkr_truststore.jks
services_streaming_lane/ib_connector/source/core
airflow.cfg
airflow.db
logs
standalone_admin_password.txt
webserver_config.py
services_streaming_lane/test_env/.terraform/
services_streaming_lane/test_env/.terraform.lock.hcl